@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
				background-color: #232323;
				color: #ffffff;
				margin: 0;
				font-family: 'Montserrat', sans-serif;
				}
				
#header {
				background-color: #ff0000;
				height: 150px;
				line-height: 150px;
   }
   
#header a {
				color: white;
				text-decoration: none;
				
				text-transform: uppercase;
				letter-spacing: 0.1em;
				}
				
#header a:hover {
				color: #000000
				}

#header-title {
				display: block;
   float: left;
   margin-left: 20px;
   
   font-size: 25px;
   font-weight: bold;
   }
   
#header-nav {
				display: block;
				float: right;
				margin-right: 20px;
				font-size: 20px;
				margin-bottom: 10px;
				}
				
#header-nav li {
				display: inline;
				padding-left: 20px;
				text-weight: bold; 
				}

.container {
				max-width: 1000px;
				margin: 0 auto;
				}
				
#footer {
				background-color: #ff0000;
				padding: 50px 0;
				}
				
.column {
				min-width: 300px;
				display: inline-block;
				vertical-align: top;
				}
				
#footer h4 {
				color: white;
				text-transform: uppercase;
				letter-spacing: 0.1em; 
				margin-left: 20px;
				}
				
#footer p {
				color: white;
				margin-left: 20px;
				}
				
a {
				color: white;
				text-decoration: none;
				}
				
a:hover {
				color: black
				}
				
.post, .about {
				max-width: 800px;
				margin: 0 auto;
				padding: 60px 0;
				}
				
.post-author img {
				width: 50px
				height: 50px
				vertical-align: middle;
				}
				
.post-author span {
				margin-left: 16px;
				}
				
.post-date {
				color: gray;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				}
				
h1, h2, h3, h4 {
				color: red;
				}
				
p {
				line-height: 1.5;
				}
				
.post-author img, .about-author img {
				border-radius: 50%;
				}

				
				
